<link rel="icon" href="/gg.png">
<div class="block mx-auto my-12 p-8 bg-black w-1/3 border-2 border-red-500 rounded-lg shadow-lg text-red-700">

  <h1 class="text-center text-3xl font-bold">Crear Tarea!</h1>

  <form action="" method="POST" class="mt-4">

    <input type="text" class="border-2 border-red-500 rounded-md bg-black w-full text-lg placeholder-red-500 
      p-2 my-2 focus:bg-black" placeholder="Titulo" name="Titulo">

    <textarea class="border-2 border-red-500 rounded-md bg-black w-full text-lg placeholder-red-500 
      p-2 my-2 focus:bg-black h-40" placeholder="Resumen" name="Resumen"></textarea>

    <button type="submit" class="rounded-md bg-red-500 w-full text-lg text-black font-semibold p-2 my-3
      hover:bg-red-800 focus:bg-red-900">CREAR!</button>

  </form>

</div>